<div class='center'>
    <div class="content"> 
        <div class="row vert-pad">
            <div class='left padded'>
                <h1>Desarrollo con pasión aplicaciones y sitios web para personas</h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando apliacaciones por placer. Esta web la construí desde cero con Python y Flask! y quiero conocer mas de este mundo</p>
            </div>
            <div class='right padded'>
                <h1> Podemos conversar lo que quieras</h1>
                <p>solo enviame un correo <a class='orange' href="#contacto">pinchando aquí</a></p>
            </div>
        </div>
    </div>
</div>