<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded"> 
            <h1>No estas convencido? mira lo que he construido!</h1>
        </div>
        <div class="row">
                <div class='card third'>
                    <h3>Mailer app</h3>
                    <p>Una apliación que envia correos utilizando la API de Sendgrid</p>
                    <a class="orange" target='_blank' href="#">Link aquí</a>
                </div>
                <div class='card third'>
                    <h3>Gestor de Clientes</h3>
                    <p>Una apliación para gestionar mis clientes</p>
                    <a class="orange" href="{{ url_for('static', filename='libreta-clientes.exe') }}">Link aquí</a>
                </div>
                <div class='card third'>
                    <h3>Gestor de tareas</h3>
                    <p>Una aplicación para gestionar mis tareas</p>
                    <a class="orange" href="{{ url_for('static', filename='db.exe') }}">Link aquí</a>
                </div>
        </div>
    </div>
</div>